* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    background-color: #fff;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.cart {
    width: 320px;
    background-color: #505050;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    border-collapse: collapse;
}

.cart-header,
.cart-footer {
    font-weight: bold;
    background-color: #3c3c3c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header {
    border-bottom: 1px solid #000;
}

.cart-header__title {
    padding-left: 23px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    border-bottom: 1px solid #000;
}

.product__left {
    display: flex;
    align-items: center;
}

.product__content {
    padding-left: 10px;
}

.product__content p {
    padding-bottom: 5px;
}

.product__content span {
    color: #cddde4;
    font-weight: 500;
    line-height: 5px;
}

.cart-footer {
    background-color: inherit;
}

.cart-footer__btn {
    padding: 8px 18px;
    background-color: #6db332;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s linear;
}

.cart-footer__btn:hover {
    background-color: #90eb45;
}

.cart-header__title,
.product__price {
    position: relative;
}

.cart-header__title::before,
.product__price::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 17px;
    background-repeat: no-repeat;
}

.cart-header__title::before {
    background-image: url('../images/check.png');
}

.product__price::before {
    background-image: url('../images/tag.png');
    left: -25px;
}